.grid {
    width: 606px;
    height: 606px;   
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 1px;
    /*border-style: solid;    
    border-color: black; */
}

.mole {
    background-image: url('mole.jpg') ;
    background-size: cover;
}

.bang {
    background-image: url('bang.jpg');
    background-size: cover;
}

.cross {
    background-image: url('cross.jpg');
    background-size: cover;
}